/* css.css */

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.container {
    text-align: center;
    max-width: 100%;
    padding: 0 10px; /* Menambahkan padding untuk tampilan yang lebih baik pada perangkat seluler */
}

#puzzle-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Mengatur grid 4 kolom untuk 4x4 puzzle */
    grid-gap: 2px;
    margin: 20px auto;
    border: 2px solid #000;
    width: 400px;
    height: 400px;
    max-width: 100%;
    max-height: 100%;
    overflow: hidden;
    touch-action: none;
}

.puzzle-piece {
    width: 100px; /* Ukuran potongan puzzle */
    height: 100px; /* Ukuran potongan puzzle */
    background-size: 400px 400px; /* Ukuran total gambar puzzle */
    cursor: pointer;
    border: 1px solid #000;
    transition: transform 0.2s ease-in-out;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    margin-top: 10px; /* Menambahkan margin atas untuk tampilan yang lebih baik pada perangkat seluler */
}

#timer {
    margin-bottom: 10px; /* Menambahkan margin bawah untuk tampilan yang lebih baik pada perangkat seluler */
}

.jumpscare {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: 9999;
    display: none;
}

.hidden {
    display: none;
}
